body {
	overflow: hidden;
}

.wrapper {
	height: 100%;
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	overflow: auto;
}

.wrapper>.heading-text {
	font-size: 5vw;
}

.wrapper>.text0>small {
	background-color: black;
	font-size: 2vw;
}

.level0>div>kbd {
	font-size: 2vw;
}

.level0>div {
	padding: 1vw;
}